/*
CRIAR AS ROOT DE PERSONALIZAÇÃO DO SISTEMA

*/

:root {
    --background-fundo1-adm: #dcb26d;
    --background-fundo2-adm: #8e8e4d;

    --modelo-cor-03: #a2570d;
    --modelo-cor-04: #5a2c0f;
    --modelo-cor-05: #0d0d0d;

    /* --pane-padding: 5px 42px; */
  }
  