body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #f2e0d5;
  margin-top: 120px;
  margin-bottom: 120px;
}


/* Estilizar o container principal */
div {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  /* border: 1px solid #ddd; */
}

/* Estilizar o logo e o título */
div > div:first-child {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilizar o formulário */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  /* border: 1px solid #ccc; */
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #401801;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #261105;
}

/* Estilizar os links */
div > div:last-child {
  margin-top: 20px;
  text-align: center;
}

div > div:last-child a {
  margin: 0 10px;
  color: #337ab7;
  text-decoration: none;
}

div > div:last-child a:hover {
  color: #23527c;
}

