@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Trykker&display=swap');


/* --------- Personalização do Body --------- */
body {
    background-color: #291505;
    margin: auto;
}


/* --------- Estilizando Títulos e Parágrafos --------- */
.titulo {
    font-family: "Maitree", serif;
    font-weight: 500;
    font-style: normal;
    color: #DCB26D
}

.paragrafo {
    font-family: "Trykker", serif;
    font-weight: 400;
    font-style: normal;
    color: #DCB26D;
}
/* --------- Fim Estilizando Títulos e Parágrafos --------- */

/* Estilizando a Navbar */

.navbar-custom {
    background-color: #291505;
}
.navbar-brand {
    font-family: "Maitree", serif;
    font-weight: 700;
    font-style: normal;
    color: #DCB26D;
}

.navbar-brand:hover {
    color: #c3a05c;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
    margin-top: -11px;
}

/* Estilo para os itens da navbar */
.navbar-nav .nav-link {
    font-family: "Trykker", serif;
    font-weight: 600;
    font-style: normal;
    color: #DCB26D;
    display: flex;
    align-items: center;
    padding: 10px;
    
}
.navbar-nav .nav-link:hover {
    color: #bea57c;
}

.navbar-nav .nav-link.active {
    color: #DCB26D;
}

.form {
    display: flex;
    align-items: center;
}

.btn-outline-success {
    font-family: "Trykker", serif;
    font-weight: 600;
    font-style: normal;
    color: #DCB26D;
    border-color: #DCB26D;
}

.btn-outline-success:hover {
    background-color: #DCB26D;
    color: #291505;
}
/*Mudanças no Icone de Menu*/
 .navbar-toggler {
     background-color: #5A2C0F;
    
 }

.navbar-toggler-icon{
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23DCB26D" d="M4 6h16v2H4zm0 4h16v2H4zm0 4h16v2H4z"%3E%3C/path%3E%3C/svg%3E');
}

/*Fim estilização Navbar*/




/*Estilização Cards*/
/*Destaques*/

/* Estilo para o título da seção */
.section-title {
    font-family: "Maitree", serif;
    font-weight: 500;
    font-style: normal;
    color: #DCB26D;
    margin-bottom: 20px;
}
  
    /* Espaço abaixo do título */
.card-title{
    font-family: "Maitree", serif;
    font-weight: 500;
    font-style: normal;
    color: #5A2C0F;
}
.card-text{
    font-family: "Trykker", serif;
        font-weight: 400;
        font-style: normal;
        color: #5A2C0F;
}

.custom-card {
    background-color: #DCB26D;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-img {
    height: 200px;
    object-fit: cover;
}

.custom-btn {

        background-color: #5A2C0F;
        border-color: 5px #DCB26D;
        color: #DCB26D;
        font-family: "Trykker", serif;
        font-weight: 400;
        font-style: normal;
        border: 10px;
    }

    .custom-btn:hover {
        background-color: #5A2C0F;
        border-color: #5A2C0F;
        padding: 10px 20px;
        
    }


 

/*Fim estilizando cards*/

/* --------- Estilização das Seções --------- */




 /*---------- PERSONALIZAÇÃO ÁREA FOOTER ---------- */
 /* Alterações de cores footer*/

footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #0D0D0D;
    color: #fff;
}

.copyright {
    background-color: #0D0D0D;
}

a.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
  }
  




 /*---------- MODELO DE BREAKSPOINTS ---------- */

  /* // X-Small devices (portrait phones, less than 576px) */
  /* // No media query for `xs` since this is the default in Bootstrap */
  
  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
    /* section {
        background-color: yellow;
    } */

   }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {  }
  
  /* // X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  }
  
  /* // XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {  }
  
  