@import url(settings/variables.css);


.gradient-personalizado {
  /* Substituto para navegadores antigos */
  /* background: #dcb26d; */
  /* background: #8e8e4d; */
  background: var(--background-fundo1-adm);
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, var(--background-fundo1-adm), var(--background-fundo2-adm));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, var(--background-fundo1-adm), var(--background-fundo2-adm));
  }
