*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: bisque;
}

main{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho{
    height: 3.5rem;
    background-color: rgb(252, 210, 148);
    display: flex;
    align-items: center;
    justify-content: center;
} 

h3{
    border: 1px solid red;
}

.nav-itens{
    border: 1px solid rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 900px;
}

.tela-register{
    height: 500px;
    width: 700px;
    margin: auto;
    /* fazer a borda, pq ananda pediu, se der merda é culpa dela */
    /* border: 1px solid red; */
}

.card-body{
    /* border: 1px solid red; */
    width: 300px;
    position: relative;
    left: 42px;
}



